.card_home {
  width: 334px;
  height: 369px;
  background-color: $bg-card;
  box-shadow: $box-shadow-card;
  margin-bottom: 35px;
  img {

  }
  .card_mota {
    p {

    }
    button {

    }
  }
}
